.main{
    padding-top: 50px;
}

.tile
{
    position: relative;
    border: solid darkred 1px;
    background-color: darkgray;
    margin-bottom: 10px;
}

.close-btn
{
    position: absolute;
    right: 10px;
    top: 10px;
}


#sidebar_code *{
    z-index: 5;
}

#bottom-bar-code *{
    z-index: 1;
}

#bottom-bar-code {
    /*height: 10%;*/
}

#bottom-nav-area {
    position: fixed;
    /*height: 100px;*/
    bottom: 0;
    width: 100%;
}