.main{
    padding-top: 50px;
    padding-bottom: 50px;
}


/*Layout out for creating question tiles*/
.tile
{
    position: relative;
    border: solid darkred 1px;
    background-color: darkgray;
    margin-bottom: 10px;
}

/*Places close button in top right corner of parent div*/
.close-btn
{
    position: absolute;
    right: 10px;
    top: 10px;
}

.fix-bottom
{
    position: fixed;
    bottom: 0;
    width: 100%;
}

/*Side bar set to in front of other divs*/
#sidebar_code *{
    z-index: 5;
}

/*Adds margin to top of question buttons box*/
#question-options-div{
    margin-top: 120px;
}

/*Sets bottom bar to be behind other divs*/
#bottom-bar-code *{
    z-index: 1;
}

/*Fixes bottom bar to bottom of screen*/
#bottom-nav-area {
}


/*CSS for marking page*/

#btn-course {
    width: 100%;
    height: 100px;
    margin-bottom: 25px;
    font-size: 2em;
    font-weight: bold;
}

#btn-student {
    width: 100%;
    height: 50px;
    margin-bottom: 15px;
    font-size: 2em;
    font-weight: bold;
}

#back-btn {
    height: 50px;
}


/*End of CSS for marking page*/


